<div class="page_title">
  <h1>Real-Time Ticketing System</h1>
</div>
<div class = "form">
  <div class = "user_inputs">
    <div class="input_field_label">
      <label> Total tickets </label>
    </div>
    <input class = "input_field" type = "text">
  </div>

  <div class = "user_inputs">
    <div class="input_field_label">
      <label> Ticket release rate </label>
    </div>
    <input class = "input_field" type = "text">
  </div>

  <div class = "user_inputs">
    <div class="input_field_label">
      <label> Customer retrieval rate </label>
    </div>
    <input class = "input_field" type = "text">
  </div>

  <div class = "user_inputs">
    <div class="input_field_label">
      <label> Max ticket capacity </label>
    </div>
    <input class = "input_field" type = "text">
  </div>
</div>