<div class="position-relative container">
    <div class="page_title">
      <h1 style="text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  ">Real-Time Ticketing System</h1>
    </div>
    <form class = "form" (submit)="sendInitialInputs()">
      <div class = "user_inputs">
        <label class="input_field_label" for="totTickets"> Total tickets </label>
        <input name="totTickets_name" class = "input_field" type = "text" id = "totTickets" placeholder="Enter an integer number" [(ngModel)] = "model.totTickets_input" />
      </div>
  
      <div class = "user_inputs">
        <label class="input_field_label" for="releaseRate"> Ticket release rate </label>
        <select name="releaseRate_name" class = "input_field" type = "text" id="releaseRate" [(ngModel)] = "model.releaseRate_input">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
  
      <div class = "user_inputs">
        <label class="input_field_label" for="retrievalRate"> Customer retrieval rate </label>
        <select name="retrievalRate_name" class = "input_field" type = "text" id="retrievalRate" [(ngModel)] = "model.retrievalRate_input">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
  
      <div class = "user_inputs">
        <label class="input_field_label" for="maxCapacity"> Max ticket capacity </label>
        <input class = "input_field" name="maxCapacity_name" type = "text" id="maxCapacity" placeholder="Enter an integer number" [(ngModel)] = "model.maxCapacity_input"/>
      </div>
      <div class = "user_inputs">
        <button class="button_field" type="submit" value="Submit" style="background-color: rgb(23, 117, 23)" routerLink="/main-page"> Submit</button>
        <input class="button_field" type="reset" value="Reset" style="background-color: rgb(218, 55, 55)"/>
      </div>
    </form>
  </div>
